:root {
    --main-bg-color: gray;
}

body {
    display: flex;
    flex-direction: column;
}

header, section, footer {
    border: 1px solid black;
    height: auto;
}

header {
    padding-bottom: 85%;
    background-color: gray;
}

section {
    padding-bottom: 170%;
}

footer {
    padding-bottom: 85%;
    background-color: gray;
}

/* -- MOBILE -- */
@media (max-width: 600px) {

}

/* -- TABLET -- */
@media (min-width: 800px) {

}

/* -- COMPUTER --*/
@media (min-width: 1200px) {
    header {
        padding-bottom: 40%;
        background-color: gray;
    }
    section {
        padding-bottom: 60%;
    }
    footer {
        padding-bottom: 45%;
        background-color: gray;
    }
}